#root {
  height: 100vh;
}

.container {
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  background: #fff;
  min-height: 100%;
}

.form-header {
  padding: 0px 20px;
  background: #fff;
  height: 60px;

  &.sticky {
    top: 0px;
    position: sticky;
    position: -webkit-sticky;
    min-width: 100%;
    z-index: 1001;
    border-bottom: 1px solid #f0f0f0;
  }

  h1 {
    font-family: "Assistant", sans-serif;
    line-height: 58px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
  }
}

.form-header h1,
.field-group .field-group-header,
.sidebar .sidebar-list.active,
.sidebar .sidebar-header {
  color: #6a6a6a;
}

.form-header button {
  float: right;
}

.sidebar {
  &.sticky {
    top: 60px;
    position: sticky;
    position: -webkit-sticky;
    height: fit-content;
  }

  .sidebar-header {
    text-transform: uppercase;
    font-family: "Assistant", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 20px;
  }

  .sidebar-list {
    cursor: pointer;
    font-family: "Assistant", sans-serif;
    padding: 10px 20px;
    font-size: 14px;

    &.active {
      background: #f3f3f3;
      font-weight: bold;
    }

    &.complete {
      color: green;
    }

    .icon {
      margin-right: 10px;
      padding: 0px;
      margin-bottom: -2px;
    }
  }
}

.main {
  min-height: calc(100vh - 60px);
}

.field-group {
  min-height: calc(100vh - 132px);

  &.last {
    min-height: calc(100vh - 60px);
  }

  .field-group-header {
    font-family: "Assistant", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 20px;
  }

  .description {
    font-family: "Assistant", sans-serif;
    font-size: 14px;
    margin: 0px 20px 20px;
  }

  .field {
    font-family: "Assistant", sans-serif;
    padding: 0px 20px 10px;
  }

  .field-geo {
    display: none !important;
  }

  .field-map {
    margin-top: -65px;
  }
}

.hidden {
  display: none;
}

.next {
  border-left: 1px solid #f0f0f0;
  padding: 20px 50px;

  button {
    border: none;
    background-color: #888;
    color: #fff;

    &:hover {
      background-color: #222;
      color: #fff;
    }
  }
}

.field-label {
  .help {
    button {
      display: inline-block;
    }

    p {
      font-size: 14px;
      margin-top: 14px;
      display: block;
    }
  }
}
