@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&family=Roboto+Condensed:wght@300;400&display=swap");

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet {
  height: 300px;
  width: 100%;
}

.site-result-error-icon {
  color: red;
}

.ant-input-number {
  width: 100% !important;
}

.ant-form-item-label > label {
  align-items: baseline !important;
}

.ant-card-bordered {
  border-top: none !important;
}

#root {
  .ant-input,
  .ant-input-number {
    border: 1px solid #6a6a6a;
    border-radius: 5px;
  }

  .ant-form-item-has-error {
    .ant-input-number {
      border: 1px solid #ff4d4f;
    }
  }

  .ant-checkbox-inner {
    border: 1px solid #6a6a6a;
  }

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: #6a6a6a;
    }
  }

  .ant-radio-inner {
    border-color: #6a6a6a;

    &::after {
      background-color: #6a6a6a;
    }
  }

  .ant-upload {
    &.ant-upload-drag {
      min-height: 250px;
      margin: auto;
      border: 2px dashed #6a6a6a;
      border-radius: 5px;
    }

    .ant-upload {
      &.ant-upload-btn {
        margin: auto;
        height: 230px;
        font-weight: bold;

        p {
          font-family: "Assistant", sans-serif;

          &.ant-upload-text {
            color: #6a6a6a;
          }

          &.ant-upload-hint {
          }
        }
      }
    }
  }
}
