@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&family=Roboto+Condensed:wght@300;400&display=swap");

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet {
  margin-top: 10px;
  height: 300px;
  width: 100%;
}

.site-result-error-icon {
  color: red;
}

.ant-input-number {
  width: 100% !important;
}
